.logotitle{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;

}
.logotitlespan{
    color: rgb(233, 105, 105);
}
.navbar{
    background-color: transparent;
}
.link{
    text-decoration: none;
    border: none;
    color: black;
}
.title-link{
    text-decoration: none;
}